<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
			
		<mapping resource="com/tianchen/ztb/bean/Person.hbm.xml"/>
		<mapping resource="com/tianchen/ztb/bean/User.hbm.xml"/>
	</session-factory>
</hibernate-configuration>